/node_modules
/client
/src
/build/reports
/build/debug
.env

# testing
/coverage
/.vscode/chrome
/client/coverage
/client/.vscode/chrome
*.dead
/client.bak

# misc
.DS_Store
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*