/node_modules
/src
/scripts
.env
.vscode
ts*.json

/client/node_modules
/client/.vscode
/client/*.json
/client/src
/client/public
/client/*.ts

# testing
/build/reports
/build/debug
/coverage
/.vscode/chrome
/client/coverage
*.dead
/client.bak

# misc
.DS_Store
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
